@using MediatR
@using PizzaApp.Application.CQs.Wallets.Queries
@inject IMediator Mediator;

@{
    var currUserBalance = await Mediator.Send(new GetWalletBalanceQuery());
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaApp.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PizzaApp.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PizzaApp</a>
                    </li>
            </ul>
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <span>
                    Пользователь:
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="ml-2">@User.Identity.Name (Баланс: @currUserBalance)</span>
                    }
                    else
                    {
                        <text>Анонимный</text>
                    }
                </span>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a asp-controller="CoreAdmin" asp-action="Index">Панель администратора</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
<script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
